includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 9

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        -  app/Actions/Fortify/UpdateUserProfileInformation.php
        -  app/Actions/Fortify/PasswordValidationRules.php
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
